.courses{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.courses li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
 .courses .course{
    font-size: 0.8rem;
 }