.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/image/icons/favicon.ico');
}

.header .photo{
    border-radius: 50%;
    width: 190px;
    height: 190px;
}

.header .title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.informations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.informations p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.informations p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.informations a{
    color: #fff;
    text-decoration: none;
}

.informations .person::before{
    background-image: url('/assets/image/icons/person1.svg');
}

.informations .local::before{
    background-image: url('/assets/image/icons/local1.svg');
}

.informations .whatsapp::before{
    background-image: url('/assets/image/icons/whatsapp1.svg');
}

.informations .email::before{
    background-image: url('/assets/image/icons/email1.svg');
}

.informations .linkedin::before{
    background-image: url('/assets/image/icons/linkedin.svg');
}

.informations .github::before{
    background-image: url('/assets/image/icons/github.svg');
}

@media only screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo informations"
        ;
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 280px;
    }
    .header .informations{
        grid-area: informations;
    }
}