.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.portfolio li .title.github::before{
    content: '';
    display: inline-block;
    width: 0.85rem;
    height: 0.85rem;
    background-image: url('/assets/image/icons/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

.portfolio li a{
    color: #000;
    text-decoration: none;
}

.portfolio li a:hover{
    color: #000;
    text-decoration: underline;
}
